#
# install app requirements
#

-r requirements.txt

#
# install dev requirements
#

pytest>=3.6
pytest-env
pytest-mock
pytest-env
pytest-cov>=2.4.0,<2.6
pytest-runner
mock
httpretty
pytz
# line_profiler
python-coveralls
